@media screen and (max-width: 770px) {
  .logoNav {
    // height: 80px;
    display: none;
  }

  .titleHeadContainer {
    font-size: 2em;
  }

  .mobileAbsolute {
    position: absolute;
    top: 90%;
    left: 30%;
    background-color: black;
  }

  .backTop {
    font-size: 3em;
    right: 10%;
  }

  .maNav {
    // height: 50vh;
    display: none;
    justify-content: center !important;
  }

  .news {
    flex-direction: row;
    height: 60vh;
  }

  .containerNav {
    width: 100vw;
    margin-top: 5%;
    margin-bottom: 2em;
  }

  .tableauTournois {
    font-size: .6em!important;
  }

  .backgroundCoupe {
    height: 30vh;
    background-attachment: initial;
    width: 100%;
    background-size: cover;
  }

  .imgFooter {
    max-height: 7vh;
    // max-width: 50%;
  }

  .btnTournois {
    width: 150px;
  }

  .btnParticipation {
    font-size: .8em!important;
  }

  .fa-jedi-order {
    font-size: 3em;
  }

  .contenuCard {
    flex-direction: column;
    align-items: center;
    font-size: 1em;
  }

  .messageClassement {
    margin-top: 5%;
    font-size: .8em;
    padding: 0.25rem .55rem!important;
  }

  .imgCard {
    height: 100px;
  }
}
