{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}


    <div class="container">
        <h4>Tu n'as pas accès à cette partie du site.</h4>

        <div class="mt-5">
            <a href="{{ path('home') }}" class="btn btn-primary">Retour au site</a>
        </div>


    </div>

{% endblock %}